RCLONE_REMOTE=:ftp
RCLONE_REMOTE_DIR=/public_html
RCLONE_DEPLOY_MODE=copy
RCLONE_ALLOW_SYNC=false

FTP_HOST=example.com
FTP_USER=username
FTP_PASSWORD=password
FTP_SECURE=true
FTP_TLS_SERVERNAME=
RCLONE_FTP_NO_CHECK_CERTIFICATE=false
